[submodule "themes/strata"]
	path = themes/strata
	url = https://github.com/alexnorell/strata.git
[submodule "themes/hugo-theme-m10c"]
	path = themes/hugo-theme-m10c
	url = https://github.com/alexnorell/hugo-theme-m10c.git
